.post-main-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.post-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-height: 500px;
    width: 600px;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: .3rem;
    outline: .5px solid rgb(139, 139, 139);
    padding: 1rem;
    gap: .5rem;
}

.post-container:hover {
    outline: 1px solid rgb(0, 0, 0);
}

.post-container img {
    max-height: 400px;
    width: auto;
    max-width: 350px;
}
