.post-main-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.post-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-height: 550px;
    width: 650px;
    align-items: flex-start;
    text-align: left;
    background-color: rgb(255, 255, 255);
    border-radius: .2rem;
    outline: .5px solid rgb(180, 180, 180);
    padding: 1rem;
}

.post-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
}

#post-info {
    color: rgb(165, 165, 165);
    font-size: .7rem;
}

.post-container:hover {
    outline: 1px solid rgb(112, 112, 112);
}

.post-container img {
    max-height: 400px;
    width: auto;
    max-width: 350px;
}
