.post-main-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.post-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-height: 6000px;
    width: 650px;
    align-items: flex-start;
    text-align: left;
    background-color: rgb(255, 255, 255);
    border-radius: .2rem;
    outline: .5px solid rgb(180, 180, 180);
    padding: 1rem;
}

.posted-by-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#posted-by-small-pic {
    height: 1.5rem;
    border-radius: .8rem;
}

.post-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
}

#post-info {
    color: rgb(165, 165, 165);
    font-size: .7rem;
}

.post-container:hover {
    outline: 1px solid rgb(112, 112, 112);
}

.post-container img {
    max-height: 400px;
    width: auto;
    max-width: 350px;
}

.edit-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

#post-input {
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
}

#break-word {
    word-break: break-word;
}

#edit {
    width: 80%;
}
