body {
  margin: 0;
  padding: 0;
  background-color: rgb(218, 224, 230);
  color: rgb(0, 0, 0);
  font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Sans', sans-serif;
}

a:link {
  color: rgb(0, 0, 0);
}

a:visited {
  color: rgb(0, 0, 0);
}

a:hover {
  color: rgb(122, 122, 122);
}

a:active {
  color: rgb(0, 0, 0);
}
