.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav-container {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  justify-content: space-between;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  background-color: rgb(32, 32, 32);
  outline: 1px solid rgb(82, 82, 82);
}
