.profile-dropdown {
  position: absolute;
  right: 1rem;
  top: 3rem;
  width: 10rem;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.2rem;
  outline: 0.5px solid rgb(180, 180, 180);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

.nav-container {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  height: 1rem;
}

#logo {
  max-height: 2.5rem;
}

#nav-button {
  padding: 0.5rem;
  width: 6rem;
  border-radius: 3rem;
  border: none;
  background-color: rgba(255, 45, 17, 0.89);
  color: white;
  margin: 0.5rem;
}

#nav-button:hover {
  background-color: rgba(255, 89, 67, 0.856);
  cursor: pointer;
}

#select {
  width: 30rem;
  height: 2rem;
  border-radius: 1rem;
  border: none;
}

#select:hover {
  outline: 1px solid rgb(38, 131, 236);
  cursor: pointer;
}

.logged-in-user {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

#logged-in-pic {
  height: 2rem;
}

#user {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}

#fasdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#user-menu {
  background-color: transparent;
  border: none;
}

#user-menu:hover {
  outline: 1px solid black;
  cursor: pointer;
}

.log-in-conatiner {
  display: flex;
  flex-direction: row;
}

#plus-post {
  font-size: 2.2rem;
  color: rgb(185, 185, 185);
  margin: 1rem;
}

#plus-post:hover {
  color: rgb(114, 114, 114);
  cursor: pointer;
}
