.community-info-container {
    display: flex;
    flex-direction: column;
    z-index: -1;
    position: sticky;
    top: 4rem;
    box-sizing: border-box;
    max-height: 400px;
    width: 300px;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: .2rem;
    outline: .5px solid rgb(180, 180, 180);
    padding: 1rem;
    gap: 5rem;
}
